<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="partials :: bootstrapHeaderBasic"></div>
    <title>Create a Post</title>
    <div th:replace="partials :: css"></div>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>

<form th:action="'/posts/save'" th:method="post" th:object="${post}">
    <label for="">Title</label>
    <input type="text" th:field="*{title}" />
    <label for="">Description</label>
    <input type="text" th:field="*{body}" />
    <button class="btn btn-primary">Submit</button>
</form>

<div th:replace="partials :: javascript"></div>
</body>
</html>